* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    padding-top: 3.75rem;
    background-image: url('../img/plano-de-fundo2.png');
    background-repeat: no-repeat; /* evita repetir a imagem */
    background-size: cover;      /* cobre toda a tela */
    background-position: center; /* centraliza */
    background-attachment: fixed;

    color: #fff;
}

h1,h2,h3, p {
    background-color: #0000005c;
    border-radius: 2rem;
    padding: 0.5rem;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.5) 100%);
    z-index: -1;
}

.title {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;    
    justify-content: space-around;
    cursor: pointer;
    padding: 0.9rem 0.6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #000;
}

header nav a {
    font-size: 1.1rem;
    text-decoration: none; 
    transition: color 0.3s ease;
    transform: scale(1.1);
    background-color: orangered;
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    color: #000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    

}

header nav a:hover {
    transform: scale(1.3);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.container h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container span {
    font-weight: 700;
    font-size: 2.4rem;
}

.container h2 {
    font-size: 1.25rem;
}

.container h3 {
    font-size: 1.1rem;
}

header img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;

    border: 4px solid orangered; /* borda laranja */
    box-shadow: 0 4px 15px rgba(220, 78, 17, 0.5); /* sombra suave laranja */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* efeito hover */
}

header img:hover {
    transform: scale(1.2);       /* aumenta levemente */
    box-shadow: 0 8px 20px rgba(255, 69, 0, 0.7); /* sombra mais intensa no hover */
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 6rem 0;
}

.home p {
   text-align: center;
   font-size: 1.2rem;
   padding: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.my-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.box-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-project h2 {
    margin-left: 1rem;
    font-size: 1.7rem;
}

.img-project {
    display: flex;
    max-width: 375px;
    width: 95%;
    margin: 1rem auto;
    border-radius: 1.5rem;
}

.img-project:hover {
    transform: scale(1.1);
}

/* .img-project:hover {
    transform: scale(1.2);
} */

.box-project p {
    padding: 0.6rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 3rem;
    padding: 1rem;
}

.skills {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.img-skills {
    width: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    margin: 3rem 0 5rem 0;

}

.list-contact {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1.5rem 0 0 0;
}

.icon-contact {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.icon-contact:hover {
    transform: scale(1.5);
}

#github, #email {
    background-color: white;
    border-radius: 30%;
}

@media  screen and (min-width: 680px) {

    header nav { 
        justify-content: center; 
        gap: 6rem;     
    }

    .home {
        max-width: 600px;
        margin: 6rem auto;
    }

    .box-project {
        max-width: 600px;
        margin: 0 auto;
    }

    .img-project {
        max-width: 550px;
    }

    .about p {
        margin: 0 1.5rem;
    }
}

@media  screen and (min-width: 1024px) {

    .box-project {
        max-width: 700px;
    }

    .img-project {
        max-width: 700px;
    }
}


